body{
  background-color:#ffffff;
}
h1{
  margin-top: 0px;
  padding: 0px;
  color: #04080F;
  text-align: center;
  border-bottom-style: solid;
  border-radius: 3px;
}
form{
  width: 10vw;
  min-width: 180px;
  height: 100vh;
  border-right-style: solid;
}
nav{
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: deepskyblue;
}
@media all and (max-width: 710px){
  .nav{
    flex-direction: column; 
  }
  nav .link{
    text-align: center;
    border-top: 1px solid;
    width: 100vw;
  }
}
nav .link{
  text-decoration: none;
  color: white;
  display: block;
  padding: 1em;
}
nav .link:hover{
  background-color: #1565C0
}
